* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

:root {
    --primary-color: #1EBFC1;
}


/* Common */

a {
    text-decoration: none;
}

.btn:hover {}

.main-content {
    width: 1170px;
    max-width: calc(100% - 26px);
    margin-left: auto;
    margin-right: auto;
}


.head {
    z-index: 1;
    top: 0;
    position: sticky;
}

.header .head {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    background: #fff;
    padding: 15px 0;
}

.nav-bar a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.86;
    color: #2F3A3B;
    padding-right: 39px;
}

.active .sign-in {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.86;
    text-align: center;
    color: #494949;
    margin-right: 24px;
}

.active .sign-up {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.86;
    text-align: center;
    color: #1EBFC1;
    border: #1EBFC1 1px solid;
    border-radius: 6px;
    padding: 12px 24px;
}

.active .sign-up:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.head-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    gap: 71px;
    padding-bottom: 79px;
}

.head-info .info {
    width: 39%;
}

.head-info .show-bar {
    width: 55%;
}

.info .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9DA6A5;
    margin-top: 46px;
}


.head-info .show-bar {
    width: 54.7%;
}

.head-info .info .title {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0D1111;
    margin-top: 18px;
}

.head-info .info .plus {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #767E7E;
}

.head-info .active-bar {
    display: flex;
    align-items: center;
    gap: 50px;
}

.head-info .play {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    margin-top: 10px;
}

.info .btn {
    width: 186px;
    height: 68px;
    margin-top: 72px;
}

.head-btn {
    background: #1EBFC1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding: 20px 41px 21px 41px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
}

.info .btn:hover {
    opacity: 0.8;
}

.show-bar {
    position: relative;
}

.show-bar .title-img .blog-img {
    object-fit: cover;
    width: 576px;
    height: 631px;
    margin-left: 64px;
}

.head-info .course-img {
    position: absolute;
    top: 48px;
    left: -54px;
}


.head-info .schedules-img {
    position: absolute;
    top: 359px;
    left: -80px;
}

.head-info .std-avtar {
    position: absolute;
    width: 207px;
    height: 90px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    right: 45px;
    bottom: 41px;
}

.head-info .as-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-info .as-avatar img {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
}

.avt-plus {
    display: flex;
    width: 33px;
    height: 33px;
    background-color: #1EBFC1;
    color: wheat;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.avt-plus .desc {
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}

.std-avtar .o-a-s {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #0D1111;
    margin-top: 17px;
    margin-left: 35px;
}


.as-avatar .avtar {
    margin-left: -10px;
}

.feature {
    margin-top: 130px;
}

.feature .feature-info {
    width: 591px;
    height: 220px;
}

.top-feature {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 18px;
    color: #767E7E;
}

.mid-feature {
    margin-top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0D1111;
}

.feature-info .desc {
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 27px;

    color: #767E7E;
}

.feature-row {
    width: 88%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 209px;
}

.feature .feature-action {
    width: 168px;
    height: 259px;
}

.feature-action .feature-icon {
    width: 102px;
    height: 106px;
    border-radius: 18px;
}

.feature-action .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 30px;
    color: #0D1111;
}

.feature-action .desc {
    height: 81px;
    width: 223px;
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9DA6A5;
}

.feature-action .desc:first-child {
    width: 168px;
}

.feature-action .desc:last-child {
    width: 224px;
}

.courses {
    margin-top: 130px;
}

.courses #courses-top {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 18px;
    color: #767E7E;
}

.courses .courses-mid {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 63px;
    color: #0D1111;
}

.courses .courses-bottom {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .courses-bottom .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767E7E;
    width: 525px;
}

.courses .view-action {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 21px;
    text-decoration-line: underline;
    color: #1EBFC1;
}

.courses .courses-image {
    display: flex;
    gap: 47px;
    justify-content: space-between;
}

.courses-image {
    margin-top: 79px;

}

.courses-image .courses-plus {
    margin: 18px 0 29px 25px;
}

.courses-image .courses-img {
    position: relative;
    flex: 1;
}

.courses-image .courses-img .img {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.courses-image .courses-img .img:first-child {
    object-position: left;
}

.courses .courses-desc {
    position: absolute;
    width: 90.5%;
    height: 195px;
    left: 15px;
    top: 313px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
}

.courses-desc h2 {
    margin-bottom: 16px;
}

.courses-desc .fee {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #0D1111;
}

.courses-desc .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #767E7E;
    margin-bottom: 18px;
}

.bottom-feature-info {
    display: flex;
    gap: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9DA6A5;
}

.courses-image .classes {
    position: relative;
    margin-left: 14px;
}

.courses-image .classes::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: #1EBFC1;
    border-radius: 50%;
    top: 6px;
    left: -14px;
}

.blog {
    margin-top: 265px;
}

.blog .quantity {
    display: flex;
    width: 73.67%;
    margin: 0 auto;
    justify-content: space-between;
}

.quantity .quantity-number {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 93px;
    text-align: center;

    color: #0D1111;
}

.quantity .desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #767E7E;
}

.introduce {
    margin-top: 264px;
}

.introduce .information {
    display: flex;
    gap: 72px;
}

.information .intro-desc {
    width: 35.8%;
}

.information .avatar {
    width: 58%;
}

.information .desc {
    margin-top: 27px;
    width: 419px;
    height: 192px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5D6564;
}

.open-quote {
    margin-top: 37px;
}

.information .name {
    margin-top: 33px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 24px;
    color: #767E7E;
}

.name .ben {
    color: #070707;
}

.information .button {
    display: flex;
    gap: 30px;
}

.information .btn {
    margin-top: 52px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2AC9BF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.information .btn img {
    display: block;
    margin: 0 auto;
}

.information .avatar {
    position: relative;
}

.information .intro {
    position: absolute;
    border-radius: 50%;
}

.intro.elip1 {
    width: 235px;
    height: 235px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    top: 107px;
    right: 171px;
}

.intro.elip6 {
    width: 110px;
    height: 110px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    top: 19px;
    right: 0;
}

.intro.elip5 {
    width: 92px;
    height: 92px;
    top: 0;
    left: 144px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.intro.elip4 {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    width: 78px;
    height: 78px;
    left: 0;
    bottom: 145px;
}

.intro.elip3 {
    left: 212px;
    bottom: 0;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    width: 78px;
    height: 78px;
}

.intro.elip2 {
    width: 78px;
    height: 78px;
    bottom: 29px;
    right: 32px;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.appeal {
    height: 272px;
    background-color: #DEF6F5;
    margin-top: 130px;
}

.appeal .main-content {
    display: flex;
    gap: 410px;
}

.appeal .appeal-row {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.appeal .ready {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 63px;
    color: #070707;
    margin-top: 72px;
}

.appeal .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 27px;
    color: #767E7E;
}

.appeal .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
    width: 186px;
    height: 68px;
    background: #2AC9BF;
    border-radius: 14px;
}

.appeal .btn:hover {
    opacity: 0.7;
}

.appeal .btn a {
    color: #FFFFFF;
    padding: 20px 41px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

footer {
    margin-top: 130px;
    padding-bottom: 130px;
}

footer .main-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

footer .footer h2 {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 27px;
    color: #2E2E2E;
}

.footer li {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #535353;
}

.footer li:not(:first-child) {
    margin-top: 19px;
}

.socail h2 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 27px;
    color: #2E2E2E;
}

.socail-bar {
    margin: 18px 0;
    display: flex;
    gap: 10px;
}

.socail-bar p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #535353;
}